.container {
	height: 100vh;
	width: 100%;
  }
  .header {
	display: flex;
	height: 120%;
	width: 100%;
	padding: 20px;
	gap: 10px;
  }
  .loginPage {
	display: flex;
	height: 100%;
	width: 50%;
	justify-content: center;
	align-items: center;
  }
  .items {
	width: 60%;
	height: 85%;
  }
  .loginLogoWrapper {
	display: flex;
	justify-content: center;
  }
  .loginLogo {
	height: 13%;
	width: 47%;
	display: flex;
	align-items: center;
  }
  .loginLogo > img {
	height: 100%;
	width: 100%;
  }
  .loginWelcome {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-top: 30px;
  }
  .loginWelcome > h1 {
	font-size: 34px;
	font-weight: 600;
	line-height: 36px;
	text-align: center;
	letter-spacing: 1px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .loginDescription {
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	margin-top: 20px;
  }
  .loginDescription > p {
	font-size: 19px;
	color: #313957;
	font-weight: 400;
	line-height: 32px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 20px;
  }
  .input {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  .input > label {
	color: #0c1421;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .input > input {
	height: 45px;
	width: 100%;
	outline: none;
	border: 1.5px solid #00000066;
	border-radius: 100px;
	padding-left: 20px;
  }
  .loginBtn {
	height: 50px;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.01em;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	background-color: #fc8a06;
	color: #ffffff;
	border: none;
	border-radius: 100px;
	margin-top: 36px;
	cursor: pointer;
  }
  .signup {
	height: 30px;
	width: 100%;
	margin-top: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .signup > p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0.01em;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #313957;
  }
  .input > span {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0.01em;
	text-align: right;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	cursor: pointer;
	color: #fc8a06;
  }
  .signup > p > span {
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	letter-spacing: 0.01em;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	cursor: pointer;
	color: #fc8a06;
  }
  .loginImg {
	height: 100%;
	width: 50%;
  }
  .img {
	height: 100%;
	width: 100%;
  }
  .img > img {
	height: 100%;
	width: 100%;
  }
  .footer {
	height: 45%;
	width: 100%;
  }
  .footerList1 {
	height: 85%;
	width: 100%;
	background-color: #d9d9d9;
	display: flex;
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 60px;
	padding-bottom: 20px;
  }
  .listItems1 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 30%;
  }
  .footerLogo {
	height: 22%;
	width: 48%;
  }
  .footerLogo > img {
	height: 100%;
	width: 100%;
  }
  .store {
	display: flex;
	height: 22%;
	width: 100%;
	gap: 2px;
	margin-top: 25px;
  }
  .store1 {
	height: 100%;
	width: 30%;
	background-color: #000;
	border-radius: 5px;
  }
  .store1 > img {
	height: 100%;
	width: 100%;
	padding: 5px;
  }
  .store2 {
	height: 100%;
	width: 30%;
  }
  .store2 > img {
	height: 100%;
	width: 100%;
  }
  .company {
	height: 20%;
	width: 100%;
	margin-top: 27px;
  }
  .company > p {
	font-size: 18px;
	font-weight: 500;
	line-height: 22.5px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  
  .listItems2 {
	display: flex;
	height: 100%;
	width: 70%;
  }
  .item1 {
	height: 100%;
	width: 53%;
  }
  .item1Heading {
	color: #03081f;
	font-size: 18px;
	font-weight: 700;
	line-height: 43px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .item1Input {
	height: 50px;
	width: 100%;
	position: relative;
  }
  .item1Input > input {
	height: 100%;
	width: 100%;
	border: none;
	border-radius: 100px;
	background-color: #d0d0d0;
	padding-left: 20px;
	color: #000000;
	font-size: 15px;
	font-weight: 400;
	line-height: 43px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	outline: none;
  }
  .item1Input > button {
	position: absolute;
	height: 100%;
	width: 40%;
	background-color: #fc8a06;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	text-align: center;
	right: 0px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .policy {
	height: 10%;
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-left: 20px;
  }
  .policy > h3 {
	color: #03081f;
	font-size: 13px;
	font-weight: 400;
	line-height: 43px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .policy > h3 > span {
	font-size: 13px;
	font-weight: 400;
	line-height: 43px;
	text-align: left;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .item1Logo {
	display: flex;
	height: 50px;
	width: 100%;
	gap: 10px;
	margin-left: 20px;
	margin-top: 10px;
  }
  .item1Logo > img {
	height: 45px;
	width: 45px;
  }
  .item2 {
	height: 100%;
	width: 33%;
	margin-left: 30px;
  }
  .item2 > p {
	color: #03081f;
	font-size: 18px;
	font-weight: 700;
	line-height: 43px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .item2 > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  .item2 > ul > li {
	list-style-type: none;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .item3 {
	height: 100%;
	width: 33%;
  }
  .item3 > p {
	color: #03081f;
	font-size: 18px;
	font-weight: 700;
	line-height: 43px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .item3 > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
  }
  .item3 > ul > li {
	list-style-type: none;
	font-size: 15px;
	font-weight: 400;
	text-align: left;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
  }
  .footerList2 {
	height: 20%;
	width: 100%;
	background-color: #03081f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 60px 20px 60px;
	flex-wrap: wrap;
	margin: 0 auto;
  }
  
  .copyright {
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
	text-align: left;
	flex-shrink: 0;
  }
  
  .terms {
	display: flex;
	gap: 40px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 22.5px;
	text-align: left;
	flex-shrink: 0;
  }
  
  @media (max-width: 1024px) {
	.footerList2 {
		padding: 0 20px;
	}
	.terms {
		gap: 20px;
	}
  }
  
  @media (max-width: 768px) {
	.footerList2 {
		padding: 0 10px;
	}
	.terms,
	.copyright {
		font-size: 13px;
		line-height: 20px;
	}
	.terms {
		gap: 10px;
	}
  }
  
  @media (max-width: 1024px) {
	.loginPage {
  
		align-items: center;
	}
	.items {
		width: 80%; 
		height: auto; 
	}
  }



